* {
  font-family: "Spartan", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100vh;
  max-width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.defaultTheme .wrapper {
  background-color: #3a4663;
}
.lightTheme .wrapper {
  background-color: #e6e6e6;
}
.darkTheme .wrapper {
  background-color: #17062a;
}

.header {
  padding: 28px 0 32px 0;
  margin: 0 24px;
  width: 327px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 350px) {
  .header {
    width: 290px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 600px) {
  .header {
    padding-top: 96px;
  }
}
@media screen and (min-width: 1000px) {
  .header {
    padding-top: 96px;
    margin: 0 auto;
    width: 540px;
  }
}
.header__logo {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  text-align: right;
  letter-spacing: -0.533333px;
}
.defaultTheme .header__logo {
  color: #ffffff;
}
.lightTheme .header__logo {
  color: #36362c;
}
.darkTheme .header__logo {
  color: #ffe53d;
}
.header__theme {
  display: flex;
}
.header__theme-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 21px;
  margin-bottom: 5px;
  align-self: end;
}
.defaultTheme .header__theme-text {
  color: #ffffff;
}
.lightTheme .header__theme-text {
  color: #36362c;
}
.darkTheme .header__theme-text {
  color: #ffe53d;
}
.header__theme-toggle-wrapper {
  display: flex;
  flex-direction: column;
}
.header__theme-toggle-numbers {
  display: flex;
  justify-content: space-between;
  padding: 0 7px 5px 7px;
}
.header__theme-toggle-no {
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 1px;
}
.defaultTheme .header__theme-toggle-no {
  color: #ffffff;
}
.lightTheme .header__theme-toggle-no {
  color: #36362c;
}
.darkTheme .header__theme-toggle-no {
  color: #ffe53d;
}
.header__theme-toggle-switch {
  border-radius: 13px;
  height: 26px;
  width: 71px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 5px;
}
.defaultTheme .header__theme-toggle-switch {
  background-color: #181f33;
}
.lightTheme .header__theme-toggle-switch {
  background-color: #d2cdcd;
}
.darkTheme .header__theme-toggle-switch {
  background-color: #1e0936;
}
.header__theme-toggle-btn {
  height: 16px;
  width: 16px;
  border-radius: 50%;
}
.defaultTheme .header__theme-toggle-btn {
  background-color: #d03f2f;
}
.lightTheme .header__theme-toggle-btn {
  background-color: #c85402;
}
.darkTheme .header__theme-toggle-btn {
  background-color: #00ded0;
}
.header__theme-toggle-btn:hover {
  cursor: pointer;
}
.defaultTheme .header__theme-toggle-btn:hover {
  background-color: #F96B5B;
}
.lightTheme .header__theme-toggle-btn:hover {
  background-color: #FF8A38;
}
.darkTheme .header__theme-toggle-btn:hover {
  background-color: #93FFF8;
}
.header__theme-toggle-btn--display-none {
  display: none;
}

.calc {
  display: flex;
  flex-direction: column;
  margin: 0 24px 31px 24px;
  width: 327px;
}
@media screen and (max-width: 350px) {
  .calc {
    width: 290px;
    margin: 0 12px 15px 12px;
  }
}
@media screen and (min-width: 1000px) {
  .calc {
    margin: 0 40px 90px 40px;
    width: 540px;
  }
}
.calc__display {
  border-radius: 10px;
  overflow: auto;
  width: 100%;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  text-align: right;
  letter-spacing: -0.533333px;
  padding: 26px 24px;
}
.defaultTheme .calc__display {
  background-color: #181f33;
}
.lightTheme .calc__display {
  background-color: #d2cdcd;
}
.darkTheme .calc__display {
  background-color: #1e0936;
}
.defaultTheme .calc__display {
  color: #ffffff;
}
.lightTheme .calc__display {
  color: #36362c;
}
.darkTheme .calc__display {
  color: #ffe53d;
}
@media screen and (max-width: 350px) {
  .calc__display {
    width: 290px;
  }
}
@media screen and (min-width: 1000px) {
  .calc__display {
    font-size: 48px;
    line-height: 54px;
    padding: 32px 32px 36px;
  }
}
.calc__buttons-container {
  padding: 24px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 13px;
  row-gap: 13px;
  margin-bottom: 13px;
}
.defaultTheme .calc__buttons-container {
  background-color: #181f33;
}
.lightTheme .calc__buttons-container {
  background-color: #d2cdcd;
}
.darkTheme .calc__buttons-container {
  background-color: #1e0936;
}
@media screen and (max-width: 350px) {
  .calc__buttons-container {
    column-gap: 8px;
    row-gap: 8px;
  }
}
@media screen and (min-width: 1000px) {
  .calc__buttons-container {
    padding: 32px;
  }
}
.calc__btn {
  height: 64px;
  width: 60px;
  padding: 10px 10px 14px 10px;
  font-weight: 700;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: -0.466667px;
  border: none;
  border-radius: 10px;
}
.defaultTheme .calc__btn {
  color: #434a59;
}
.lightTheme .calc__btn {
  color: #36362c;
}
.darkTheme .calc__btn {
  color: #ffe53d;
}
.defaultTheme .calc__btn {
  background-color: #eae3dc;
  box-shadow: inset 0px -4px 0px #B3A497;
  color: #434a59;
}
.lightTheme .calc__btn {
  background-color: #e5e4e1;
  box-shadow: inset 0px -4px 0px #A79E91;
  color: #36362c;
}
.darkTheme .calc__btn {
  background-color: #331c4d;
  box-shadow: inset 0px -4px 0px #B3A497;
  color: #ffe53d;
}
.calc__btn:hover {
  cursor: pointer;
}
.defaultTheme .calc__btn:hover {
  background-color: #FFFFFE;
}
.lightTheme .calc__btn:hover {
  background-color: #FFFFFF;
}
.darkTheme .calc__btn:hover {
  background-color: #6C34AC;
}
@media screen and (max-width: 350px) {
  .calc__btn {
    height: 44px;
    width: 100%;
    padding: 5px 5px 7px 5px;
  }
}
@media screen and (min-width: 1000px) {
  .calc__btn {
    width: 101px;
  }
}
.calc__buttons-big {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  column-gap: 13px;
}

.defaultTheme .-btn-2 {
  background-color: #647198;
  box-shadow: inset 0px -4px 0px #414E73;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}
.lightTheme .-btn-2 {
  background-color: #378187;
  box-shadow: inset 0px -4px 0px #1B6066;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}
.darkTheme .-btn-2 {
  background-color: #56077c;
  box-shadow: inset 0px -4px 0px #BE15F4;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}
.-btn-2:hover {
  cursor: pointer;
}
.defaultTheme .-btn-2:hover {
  background-color: #A2B2E1;
}
.lightTheme .-btn-2:hover {
  background-color: #62B5BC;
}
.darkTheme .-btn-2:hover {
  background-color: #8631AF;
}

.defaultTheme .-btn-3 {
  background-color: #d03f2f;
  box-shadow: inset 0px -4px 0px #93261A;
  color: white;
  grid-column-start: 3;
  grid-column-end: 5;
  width: 100%;
}
.lightTheme .-btn-3 {
  background-color: #c85402;
  box-shadow: inset 0px -4px 0px #873901;
  color: white;
  grid-column-start: 3;
  grid-column-end: 5;
  width: 100%;
}
.darkTheme .-btn-3 {
  background-color: #00ded0;
  box-shadow: inset 0px -4px 0px #6CF9F1;
  color: white;
  grid-column-start: 3;
  grid-column-end: 5;
  width: 100%;
}
.-btn-3:hover {
  cursor: pointer;
}
.defaultTheme .-btn-3:hover {
  background-color: #F96B5B;
}
.lightTheme .-btn-3:hover {
  background-color: #FF8A38;
}
.darkTheme .-btn-3:hover {
  background-color: #93FFF8;
}

.-reset {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
}

.defaultTheme .-is-pressed {
  background-color: #808080;
  color: white;
}
.lightTheme .-is-pressed {
  background-color: #8c8c8c;
  color: white;
}
.darkTheme .-is-pressed {
  background-color: #46334d;
  color: white;
}

.-display-none {
  display: none;
}

.-lightTheme {
  margin-left: 21px;
}

.-darkTheme {
  margin-left: 42px;
}

/*# sourceMappingURL=style.css.map */
